<header class="w-full flex  items-center justify-center py-2">
  <nav class="w-full container flex  items-center justify-between">
    <div class="">
      <a routerLink="">
        <img src="../../../assets/images/pagcredilogo.png" />
      </a>
    </div>
    <ul class="flex gap-4 items-center justify-center">
      <li>
        <a routerLink="/login" class="btn-header-login">
          login
        </a>
      </li>
      <li>
        <a routerLink="/signin" class="btn-header-sign">
          cadastrar
        </a>
      </li>
    </ul>
  </nav>
</header>