html, body{
  overflow-x: hidden;
}

body{
  @apply text-gray-50;
}

h1,h2,h3,h4,h5{
  font-family: $font-title;
  @apply text-gray-800;
}

p, li, a, div, span {
  font-family: $font-text;
   @apply text-gray-600;
}



.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  input{
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 5px;
  }

  input[type="file"]{
     display: none;

    
  }
}