<div class="container  mt-12">
  <h1 class="text-center mb-10">
    {{formTitle}}
  </h1>
  <form class="grid sm:grid-cols-1 md:grid-cols-2 gap-3 mx-auto px-2" (ngSubmit)="handleSubmit()" [formGroup]="formGroup" #formDir="ngForm">
  <div class="form-group mb-3">
    <label for="title">Titulo</label>
    <input id="title" type="text" placeholder="Titulo" formControlName="title" class="" required>
    <div *ngIf="title.invalid && formDir.submitted">
      <div *ngIf="title.errors?.['required']" class="text-red-600 mt-2">O E-mail é obrigatorio</div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="author">Autor</label>
    <input id="author" type="text" placeholder="Autor" formControlName="author" class="" required>
    <div *ngIf="author.invalid && formDir.submitted">
      <div *ngIf="author.errors?.['required']" class="text-red-600 mt-2">O Autor é obrigatorio</div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="country">Pais</label>
    <input id="country" type="text" placeholder="Autor" formControlName="country" class="" >
  </div>
  <div class="form-group mb-3">
    <label for="language">Idioma</label>
    <input id="language" type="text" placeholder="Idioma" formControlName="language" class="" >
  </div>
  <div class="form-group mb-3">
    <label for="language">Idioma</label>
    <input id="language" type="text" placeholder="Idioma" formControlName="language" class="" >
  </div>
  <div class="form-group mb-3">
    <label for="pages">Páginas</label>
    <input id="pages" type="number" placeholder="Paginas" formControlName="pages" class="" >
  </div>
  <div class=" mb-10 mt-5 ">
    <label for="imageLink" class="text-white bg-green-500 px-3 py-5 text-center hover:outline-dashed hover:outline-1 hover:outline-slate-700 cursor-pointer rounded-md  ">Adicionar Imagem</label>
    <input id="imageLink" type="file" placeholder="Autor" formControlName="imageLink" class="hidden" (change)="handleChangeFile($event)" accept="image/*" required>
    <div *ngIf="imageLink.invalid && formDir.submitted" class="mb-3 mt-10">
      <div *ngIf="imageLink.errors?.['required']" class="text-red-600 mt-2">A imagem é obrigatorio</div>
    </div>
    <div *ngIf="filePreview" class="flex gap-5 items-center mt-8">
      <img src="{{filePreview}}" alt="teste" width="200px" height="200px">
      <fa-icon [icon]="faTimes" class="cursor-pointer text-lg" (click)="handleDeleteImg()"></fa-icon>
    </div>
  </div>
    <div class="flex justify-end items-center mt-20">
      <input type="submit" class="bg-lime-500 rounded-md hover:bg-lime-700 px-10 py-2 text-pink-50 cursor-pointer"
        value="Salvar" />
    </div>
  </form>
</div>
