<section>
  <div class="container flex justify-center gap-5 ">
    <div *ngIf="data; else noData" class="item-container flex justify-center items-center flex-col justify-center">
      <div class="flex justify-end gap-5 icons-container">
        <a routerLink="/book/{{id}}/edit"><fa-icon [icon]="faEdit"></fa-icon></a>
        <fa-icon [icon]="faTimes" (click)="delete()"></fa-icon>
      </div>
      <img src="{{baseURL}}/{{data.imageLink}}" alt="Capa do livro" class="mb-2 rounded-md">
      <div class="icons-container gap-y-5">
        <h2>{{data.title}}</h2>
        <p><strong>{{data.author}}</strong></p>
        <p>{{data.country}}</p>
      </div>
    </div>
    <ng-template #noData>
      <h1>
        Nenhum livro encontrado!
      </h1>
    </ng-template>
  </div>
</section>