<footer>
  <div class="container  border-t-2 py-10 flex flex-wrap ">
    <div class="w-1/2 ">
      <h1 class="font-bold">BOOK<span class="text-blue-700">HALL</span></h1>
    </div>
    <div class="w-1/2 flex  flex-row gap-10  justify-center">
      <div class="text-black">
        Sobre nós
        <ul>
          <li>
            <a href=""> about</a>
          </li>
          <li>
            <a href=""> about</a>
          </li>
          <li>
            <a href=""> about</a>
          </li>
        </ul>
      </div>
      <div class="text-black">
        Atendimento
        <ul>
          <li>
            <a href="">Horário de atendimento:
            08:00 às 20:00 - <br>
            Segunda a Sábado,
            horário de Brasília</a>
          </li>
        </ul>
      </div>
      <div class="text-transparent">
       .
        <ul class="flex justify-center gap-3">
          <li>
            <a href="https://github.com/joaops3"><fa-icon [icon]="faGithub" [size]=""></fa-icon></a>
          </li>
          <li>
            <a href="">
          <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
          <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
   
  </div>
  <div class="container pb-5">
    <p class="text-center">&#169; Direitos reservados</p>
  </div>
</footer>